@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

#bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;}


.title-container__title {
  color: #E9F2F1;
    text-align: right;
    font-size: 6em;
    font-family: 'Righteous'}
.title-container__title  span{color: #8b104e;}

.title-container__title hr{
  margin: 40px 0;
  border-top: none;}
  
.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  color:#8b104e;}


.form-container {
  background: url("img//containerImg.jpg") center center no-repeat;
  
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #8b104e;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #9795cf inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  -webkit-transition-duration: 0.4s;  /* Safari */
  transition-duration: 0.4s;border: .5;
  padding: 8px 20px;
  color: white;
  margin: 0 2px;
  cursor: pointer;
  background-color: #d291bc;
  border-color: #8b104e;
}
/*       #8b104e;       */
.button:hover {
  background-color:whitesmoke; /* Green */
  color:black;
}
button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #8b104e;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 700;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 700;
}

.weather__error {
  color:#8b104e;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}