body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" ,'Nirmala UI', sans-serif;
   
    background: #9795cf;
    background: -webkit-gradient(to left, #A0D9D9 ,#9795cf );
    background: linear-gradient(to left, #A0D9D9 ,#9795cf);
   
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
